@keyframes water {
    0%,100%{
        clip-path: polygon(0% 100%, 100% 99%, 100% 9%, 91% 6%, 81% 5%, 72% 5%, 64% 6%, 56% 8%, 48% 10%, 41% 12%, 32% 13%, 23% 14%, 13% 13%, 7% 11%, 0% 7%);
    }
    50%{
        clip-path: polygon(0% 100%, 100% 99%, 100% 6%, 90% 10%, 81% 12%, 71% 13%, 64% 13%, 56% 12%, 48% 10%, 41% 9%, 33% 8%, 24% 7%, 15% 8%, 8% 9%, 0 12%);
    }
}

.footer{
    position: relative;
    background-color: #F4F4F4;
    z-index: 2;
    &::after{
        content: '';
        position: absolute;
        top:-25%;
        width: 100%;
        height: 200px;
        z-index: 1;
        background-color: #F4F4F4;
        animation: water 5s infinite;
        @media (max-width:636px) {
            top: -2%;
        }
    }
    .container{
        position: relative;
        z-index: 2;
        width: 90%;
        max-width: 1200px;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:922px) {
            flex-direction: column;
        }
        .content:nth-child(2){
            // width: 25%;
            display: flex;
            @media (max-width:614px) {
                flex-direction: column;
            }
            .connection{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-right: 10px;
                p{
                    @media (max-width:614px) {
                        margin: 20px 0;
                    }
                    color: rgba(50, 50, 50, 0.543);
                    font-size:18px;
                }
                p:nth-child(1){
                    &::before{
                        content: '\f3c5';
                        font-family: FontAwesome;;
                        color: $scheme-color;
                    }
                }
                p:nth-child(2){
                    &::before{
                        content: '\f199';
                        font-family: FontAwesome;
                        color: $scheme-color;
                    }
                }
                p:nth-child(3){
                    &::before{
                        content:'\f095';
                        font-family:FontAwesome;
                        color: $scheme-color;
                    }
                }
            }
        }
        .logo{
            font-size: 70px;
            color: $scheme-color;
            font-weight: 500;
        }
    }
    .content-edit{
        color: rgba(244, 244, 244, 0.81);
        text-align: center;
        padding: 15px 0;
        background-color: #000000;
        box-shadow: 1px 1px 10px 1px rgba(104, 104, 104, 0.63);
        display: flex;
        justify-content: center;
        @media (max-width:359px) {
            flex-direction: column;
        }
        span{
            margin: 0 10px;
            @media (max-width:359px) {
                display: none;
            }
        }
    }
}