.teacher{
    padding-top: 100px;
    position: relative;
    >.container{
        max-width: 1500px;
        width: 90%;
        margin: 0 auto;
        @media (max-width:375px) {
            width: 100%;
        }
        .introduction{
            opacity: 0;
            height: 0;
            position: relative;
            top: -50px;
            transition: all .5s;
            visibility: hidden;
            &.active{
                visibility: visible;
                opacity: 1;
                top: 0;
                height: 558px;
                transition: all .5s;
            }
            >.container{
                margin-top: 50px;
                background-color: #F0F4F8;
                border-radius: 48px;
                padding: 68px;
                @media (max-width:851px) {
                    padding: 20px;
                }
                h4{
                    color: $scheme-color;
                    text-align: center;
                    font-size: 5vmin;
                    margin-bottom: 10px;;
                }
                table{
                    font-size: 2vmin;
                    margin: 0 auto;
                    width: 90%;
                    @media (max-width:630px) {
                        font-size: 3vmin;
                    }
                }
                tr{
                    height: 40px;
                    th{
                        text-align: left;
                        color: $scheme-color;
                        width: 200px;
                        @media (max-width:624px) {
                            display: block;
                        }
                    }
                    td{
                        color: rgba(0, 0, 0, 0.644);
                        @media (max-width:624px) {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .title{
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width:774px) {
            flex-direction: column;
        }
        h2{
            font-size: 306%;
            font-weight: 500;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                right: -25%;
                bottom: 20%;
                display: inline-block;
                border-radius: 2px;
                background-color: #D7D7D7;
                width: 3px;
                height: 36px;
                @media (max-width:774px) {
                    right: 40%;
                    bottom: -20%;
                    width: 46px;
                    height: 3px;
                }
            }
        }
        .content{
            padding-left: 100px;
            color: rgb(63, 63, 63);
            font-weight: 500;
            @media (max-width:774px) {
                margin-top: 30px;
                padding-left: 0;
                text-align: center;
            }
            p:nth-child(2){
                @media (max-width:348px) {
                    font-size: 4vmin;
                }
            }
            span{
                @media (max-width:445px) {
                    display: none;
                }
            }
        }
    }
    .banner{
        z-index: 2;
        margin-top: 88px;
        padding: 20px;
        position: relative;
        display: flex;
        @media (max-width:636px) {
            flex-direction: column;
            margin-top: 30px;
        }
        @media (max-width:375px) {
            padding: 10px;
        }
        .img-container{
            width: 50%;
            height: 411px;
            border-radius: 48px;
            overflow: hidden;
            @media (max-width:636px) {
                width: 100%;
            }
            img{
                height: 100%;
                object-fit: cover;
                width: 100%;
                border-radius: 48px;
                box-shadow: 1px 1px 10px 1px rgba(187, 187, 187, 0.699);
                transition: all .3s;
                &:hover{
                    transform:scale(1.05)
                }
            }
        }
        .canvas{
            width: 50%;
            padding: 20px;
            margin-left: 50px;
            @media (max-width:960px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 0;
            }
            @media (max-width:636px) {
                width: 100%;
            }
            .content{
                margin: 10px 0;
                .sub-title{
                    display: flex;
                    justify-content: center;
                    padding: 2px 10px;
                    color: white;
                    background-color: $scheme-color;
                    border-radius: 24px;
                }
                >div{
                    margin: 15px 0;
                }
                text-align: center;
                .sub-content{
                    p:nth-child(1){
                        @media (max-width:960px) {
                            display: none;   
                        }
                        @media (max-width:636px) {
                            display: block;
                        }
                        @media (max-width:500px) {
                            font-size: 12px;
                        }
                    }
                    p:nth-child(2){
                        @media (max-width:379px) {
                            font-size: 12px;
                        }
                    }
                }
            }
            h4{
                color: $scheme-color;
                text-align: center;
                font-size: 5vmin;
            }
            .span-container{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
                >span{
                    padding: 0 60px;
                    text-align: center;
                    line-height: 48px;
                    border-radius: 32px;
                    background-color: #F0F4F8;
                    color: #000000;
                    transition: all .3s;
                    position: relative;
                    overflow: hidden;
                    // box-shadow: 1px 1px 10px 1px rgba(157, 157, 157, 0.521);
                    p{
                        position: relative;
                        z-index: 2;
                        transition: all .3s;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: 48px;
                        left: -180px;
                        background-color: rgba(0, 0, 0, 0.988);
                        width: 190px;
                        height: 48px;
                        border-radius: 24px;
                        transition: all .3s;
                    }
                    &{
                        cursor: pointer;
                    }
                    &:hover{
                        p{
                            color: white;
                        }
                        
                        &::after{
                            top: 0;
                            left: 0;
                            z-index: 1;
                        }
                    }
                }
            }

        }

    }

}